<% if values.empty? %>
  <p class="text-center font-semibold text-xl my-8 md:table-lg md:hidden">Nenhum registro encontrado... </p>
<% else %>
  <table class="table table-xs md:table-lg table-pin-rows table-pin-cols md:hidden">
    <thead>
      <tr>
        <td></td>
        <td>Descrição</td>
        <td>Fixo?</td>
        <td class="text-center"></td>
      </tr>
    </thead>
    <tbody>
      <% values.each do |value| %>
        <tr>
          <td>
            <div class="flex items-center justify-center <%= category_list_icon_color value.category.cat_sub %>">
              <div class="h-8 w-8 md:h-14 md:w-14 rounded-full border-2 flex items-center justify-center gap-0.5">
                <i class="fa-solid <%= value.category.try(:icon) %> h-5 w-5"></i>
              </div>
              <% if value.category.cat_sub == "expenses" %>
                <i class="fa-solid fa fa-arrow-down h-4 w-4 -ml-1 md:-ml-2 self-end" aria-hidden="true"></i>
              <% else %>
                <i class="fa-solid fa fa-arrow-up h-4 w-4 -ml-1 md:-ml-2 self-start" aria-hidden="true"></i>
              <% end %>
            </div>
          </td>
          <td>
            <div class="grid">
              <strong><%= value.description.capitalize %></strong>
              <strong>
                <% if value.category.cat_sub === 'expenses' %>
                  -
                <% end %>
                <%= format_brl_currency(value.value) %>
              </strong>
              <span><%= value.category.name %></span>
              <% if value.try(:date) %>
                <span class="font-light"><%= format_date(value.date) %></span>
              <% elsif value.try(:day) %>
                <span class="font-light"><%= get_date_by_day(value.day, @user_actual_month_yeah_balance) %></span>
              <% else %>
                <span class="font-light"><%= format_date(value.created_at) %></span>
              <% end %>
            </div>
          </td>
          <td><span class="font-semibold"><%= format_boolean(value.fixed) %></span></td>
          <td class="w-28 text-center">
            <%= link_to value, class: "btn btn-primary btn-sm md:btn-md" do %>
              <i class="fa fa-arrow-right size-4" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td>Descrição</td>
        <td>Fixo?</td>
        <td class="text-center"></td>
      </tr>
    </tfoot>
  </table>
<% end %>