<div id="<%= dom_id income %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= format_brl_currency(income.value) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= income.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fixo:</strong>
    <%= format_boolean(income.fixed) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Categoria:</strong>
    <%= income.category.name %>
  </p>

</div>
