<div class="flex flex-col items-center justify-center gap-6">
  <h1 class="text-xl font-semibold">Enviar e-mail de reset de senha:</h1>

  <%= form_with model: @user, url: password_resets_path, class: "grid gap-3 form-input:outline-none" do |form| %>
    <% if form.object.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2>Atenção:</h2>
        <ul>
          <% form.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <label class="input input-bordered flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70">
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
      </svg>
      <%= form.email_field :email, required: true, autofocus: true, class: "grow border-none form-input", placeholder: "E-mail" %>
    </label>

  

    <div>
      <%= form.button t(".Enviar"), class: "btn btn-primary w-full text-lg" %>
    </div>
  <% end %>

  <%= render "revise_auth/shared/links" %>
</div>
