<div class="container">
  <div class="header">
    <a href="<%= @url %>">
      <img src="https://controlafacil.starksoftware.tech/logo.png" alt="Controla Fácil">
    </a>
  </div>
  <h1>Seu Relatório Mensal do Mês de <%= @month %>/<%= @year %> </h1>
  <h2>
    <%= @greeting %> <%= @user.first_name %>!
  </h2>
  <p>
    <h3>Segue abaixo o seu resumo do financeiro do mês de <%= @month %> do ano de <%= @year %>:</h3>
    <ul>
      <li style="font-size: 18px;">Total de Entradas: <strong><%= @total_incomes %></strong></li>
      <li style="font-size: 18px;">Total de Saídas: <strong><%= @total_expenses %></strong></li>
      <li style="font-size: 18px;">Saldo Final: <strong><%= @total_balance %></strong></li>
    </ul>
    <h3>Segue também um breve detalhamento das suas movimentações:</h3>
    <ul>
      <% @formatted_incomes.each do |income| %>
        <li style="font-size: 18px;">
          <span>
            Entrada de <strong><%= income[:value] %></strong> no dia <%= income[:date] %>
          </span>
          <br>
          <span>
            Referente a:
            <strong>
              <%= income[:description] %>
            </strong>
          </span>
        </li>
      <% end %>
      <% @formatted_expenses.each do |expense| %>
        <li style="font-size: 18px;">
          <span>
            Saída de <strong><%= expense[:value] %></strong> no dia <%= expense[:date] %>
          </span>
          <br>
          <span>
            Referente a:
            <strong>
              <%= expense[:description] %>
            </strong>
          </span>
        </li>
      <% end %>
    </ul>
  </p>
  <div class="footer">
    <p>&copy; <%= Time.now.year %> Controla Fácil. Todos os direitos reservados.</p>
  </div>
</div>