<div id="<%= dom_id expense %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Valor:</strong>
    <%= format_brl_currency(expense.value) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descrição:</strong>
    <%= expense.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fixo?:</strong>
    <%= format_boolean(expense.fixed) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data:</strong>
    <%= expense.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mês:</strong>
    <%= expense.balance.month %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Categoria:</strong>
    <%= expense.category.name %>
  </p>

</div>
