<div id="<%= dom_id expense %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= expense.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= expense.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fixed:</strong>
    <%= expense.fixed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= expense.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= expense.user.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Balance:</strong>
    <%= expense.balance.month %>
  </p>

</div>
