<%= form_with(model: expense, class: "contents", data: { controller: 'masks' }) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2>Atenção:</h2>
      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :value, "Valor", class: "font-semibold text-lg" %>
    <%= form.text_field :value, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", data: { masks_target: 'brl' }, placeholder: "R$" %>
  </div>
  <div class="my-5">
    <%= form.label :description, "Descrição", class: "font-semibold text-lg" %>
    <%= form.text_field :description, placeholder: "Ex: Viagem ao interior", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="grid my-5 ">
    <div class="flex items-center gap-4" class="grid">
      <%= form.label :fixed, "Marcar como despesa fixa?", class: "font-semibold text-lg" %>
      <%= form.check_box :fixed, class: "checkbox" %>
    </div>
    <small>Despesas fixas são automaticamente geradas todo mês.</small>
  </div>
  <div class="my-5">
    <%= form.label :date, "Data", class: "font-semibold text-lg" %>
    <%= form.date_field :date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :category_id, "Categoria", class: "font-semibold text-lg" %>
    <%= form.collection_select :category_id, @expenses_categories, :id, :name, { prompt: "Selecione a categoria" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="flex justify-between items-center">
    <%= link_to @expense, class: "btn btn-secondary" do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Voltar
    <% end %>
    <%= form.submit submit_expense_button_text, class: "btn btn-primary rounded-lg py-3 px-5 font-medium cursor-pointer" %>
  </div>
<% end %>
