<div class="w-full">
  <% content_for :title, "Despesas" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl md:text-4xl">Despesas</h1>
    <%= link_to new_expense_path, class: "btn btn-primary btn-sm md:btn-md" do %>
      <i class="fa-solid fa-plus text-xl"></i>
      <span class="text-lg">Nova despesa</span>
    <% end %>
  </div>
  <div class="grid gap-4" data-controller="search">
    <div class="mt-4 grid gap-2">
      <h2 class="font-bold text-lg md:text-xl">Buscas Rápidas:</h2>
      <div class="flex md:flex-row gap-2 overflow-x-auto">
        <%= search_form_for @q, data: { turbo_frame: :expenses } do |f| %>
          <%= f.search_field :created_at_gteq, value: Time.now.beginning_of_month, hidden: true %>
          <%= f.search_field :created_at_lteq, value: Time.now.end_of_month, hidden: true %>
          <%= f.submit "Mês Atual", class: "btn btn-secondary btn-sm" %>
        <% end %>
        <%= search_form_for @q, data: { turbo_frame: :expenses } do |f| %>
          <%= f.search_field :created_at_gteq, value: Time.now.beginning_of_month.last_month, hidden: true %>
          <%= f.search_field :created_at_lteq, value: Time.now.end_of_month.last_month, hidden: true %>
          <%= f.submit "Mês Passado", class: "btn btn-secondary btn-sm" %>
        <% end %>
        <%= search_form_for @q, data: { turbo_frame: :expenses } do |f| %>
          <%= f.check_box :fixed_eq, checked: true, hidden: true %>
          <%= f.submit "Receitas Fixas", class: "btn btn-secondary btn-sm" %>
        <% end %>
        <%= search_form_for @q, data: { turbo_frame: :expenses } do |f| %>
          <%= f.check_box :fixed_eq, checked: false, hidden: true %>
          <%= f.submit "Receitas Avulsas", class: "btn btn-secondary btn-sm" %>
        <% end %>
      </div>
    </div>
    <div class="grid gap-4">
      <div class="flex items-center gap-2 overflow-x-auto">
        <button data-action="search#toggleText" class="btn btn-primary rounded-sm btn-sm">
          <i class="fa fa-search h-4 w-4" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary rounded-sm btn-sm" onclick="data.showModal()">
          Datas
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary rounded-sm btn-sm" onclick="categories.showModal()">
          Categorias
          <i class="fa fa-list" aria-hidden="true"></i>
        </button>
      </div>
      <%= search_form_for @q, class: "grid gap-2", data: { turbo_frame: :expenses, turbo_action: :advance, search_target: 'form' } do |f| %>
        <div class="flex md:items-center flex-col md:flex-row gap-4">
          <div class="flex-col md:flex-row md:items-center gap-1 md:gap-4 w-full hidden" data-search-target="description">
            <%= f.label :description, "Busca" %>
            <%= f.search_field :description_cont, class: "input input-sm input-bordered md:w-1/2", data: { action: 'input->search#search'} %>
          </div>
          <%= render 'shared/simple_dialog_modal', modal_id: "categories" do %>
            <div class="grid gap-4 my-2" >
              <%= f.label :category_id, "Categoria" %>
              <%= f.collection_select :category_id_eq, Category.user_global(current_user).expenses, :id, :name, { prompt: "Selecione a categoria" }, class: "select select-sm select-bordered w-full max-w-xs", include_blank: true, onchange: 'categories.close()', data: { action: 'change->search#search'} %>
            </div>
          <% end %>
          <%= render 'shared/simple_dialog_modal', modal_id: "data" do %>
            <h3 class="font-semibold mb-4 text-lg">Selecione o Periodo:</h3>
            <div class="grid gap-1 md:gap-4 my-2">
              <%= f.label :date, "De" %>
              <%= f.date_field :created_at_gteq, class: "input input-sm input-bordered w-full max-w-xs" %>
              <%= f.label :date, "Até" %>
              <%= f.date_field :created_at_lteq, class: "input input-sm input-bordered w-full max-w-xs" %>
            </div>
            <%= button_tag "Pesquisar", type: "button", class: "btn btn-secondary btn-sm w-full mt-4 mr-4", data: { action: 'click->search#search'}, onclick: "data.close()" %>
          <% end %>
        </div>
        <div class="items-center justify-center md:justify-start hidden" data-search-target="clearButton">
          <%= link_to 'Limpar', expenses_path, class: "btn btn-success btn-sm md:w-1/3 w-full mt-2" %>
        </div>
      <% end %>
    </div>
    <%= turbo_frame_tag :expenses, data: { turbo_action: :advance } do %>
      <div id="expenses">
        <%= render 'shared/desktop_table', values: @expenses %>
        <%= render 'shared/mobile_table', values: @expenses %>
      </div>
    <% end %>
    <div class="mx-auto">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>
