<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Gastos" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Gastos</h1>
    <%= link_to "Novo Gasto", new_expense_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="expenses" class="overflow-x-auto my-6">
    <table class="table table-xs md:table-lg table-pin-rows table-pin-cols">
      <thead>
        <tr>
          <td>Descrição</td>
          <td>Valor</td>
          <td>Data</td>
          <td>Fixo?</td>
          <td>Categoria</td>
          <td class="text-center">Ação</td>
        </tr>
      </thead>
      <tbody>
          <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.description %></td>
            <td><%= format_brl_currency(expense.value) %></td>
            <td><%= format_date(expense.date) %></td>
            <td><%= format_boolean(expense.fixed) %></td>
            <td><%= expense.category.name %></td>
            <td class="w-28 text-center">
              <%= link_to "Ver", expense, class: "btn btn-info btn-xs md:btn-md" %>
            </td>
          </tr> 
          <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td>Descrição</td>
          <td>Valor</td>
          <td>Data</td>
          <td>Fixo?</td>
          <td>Categoria</td>
          <td class="text-center">Ação</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
