<div class="card bg-base-100 md:w-1/2 p-6 shadow-lg mx-auto relative">
  <div class="flex w-full justify-between absolute left-0 -right-3 top-0 p-3">
    <%= link_to expenses_path, class: "btn btn-sm btn-info flex h-8 w-8" do %>
      <i class="fa fa-list text-white" aria-hidden="true"></i>
    <% end %>
    <%= button_to @expense, method: :delete, class: "btn btn-sm btn-error h-8 w-8", data: { turbo_confirm: 'Tem certeza?' } do %>
      <i class="fas fa-trash-alt text-gray-100"></i>
    <% end %>
  </div>
  <div class="card-body md:items-center md:text-center">
    <h2 class="card-title">Detalhes da Despesa:</h2>
    <%= render @expense %>
  </div>
  <div class="card-actions items-center justify-between">
    <%= link_to expenses_path, class: "btn btn-secondary" do %>
      <i class="fa fa-arrow-left"></i>
      <span>Voltar</span>
    <% end %>
    <%= link_to edit_expense_path(@expense), class: "btn btn-primary" do %>
      <i class="fa fa-pencil"></i>
      <span>Editar</span>
    <% end %>
  </div>
</div>
