<div class="grid gap-8 my-10 items-center justify-center">
  <%= form_with model: current_user, url: profile_path, method: :patch do |form| %>
    <h1 class="text-3xl font-bold text-center mb-4"><%=t ".Perfil" %></h1>
    <div class="grid gap-4">
      <div class="grid gap-4" data-controller="image-preview">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class: "rounded-full h-64 w-64 object-cover mx-auto", data: { image_preview_target: "preview" }  %>
        <% else %>
          <%= image_tag 'avatar-placeholder', class: "rounded-full h-64 w-64 object-cover mx-auto", data: { image_preview_target: "preview" } %>
        <% end %>
        <%= form.file_field :avatar, direct_upload: true, class: "file-input w-full max-w-md", data: { action: "input->image-preview#previewImage" } %>
      </div>
      <div class="grid gap-2">
        <%= form.label :first_name, t(".nome") %>
        <%= form.text_field :first_name, required: true, class: "input input-bordered w-full max-w-md" %>
      </div>
      <div class="grid gap-2">
        <%= form.label :last_name, t(".sobrenome") %>
        <%= form.text_field :last_name, required: true, class: "input input-bordered w-full max-w-md" %>
      </div>
      <div class="grid">
        <%= form.button t(".Editar"), class: "btn btn-success text-lg max-w-md" %>
      </div>
    </div>
  <% end %>
  <!--<%= form_with model: current_user, url: profile_email_path do |form| %>
    <fieldset class="grid gap-4">
      <h2 class="text-2xl font-bold"><%=t ".Mudar Email" %></h2>

      <% if current_user.unconfirmed_email? %>
        <p><%=t ".waiting_confirmation", email: current_user.unconfirmed_email %></p>
      <% end %>

      <% if form.object.errors.any? %>
        <ul>
          <% form.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <p>Seu email atual é : <%=current_user.email%></p>
      <p>Para mudar seu email, enviaremos uma confirmação para seu novo email.</p>

      <label class="form-control w-full max-w-md">
        <div class="label">
          <span class="label-text">Novo Email</span>
        </div>
        <%= form.email_field :unconfirmed_email, required: true, class: "input input-bordered w-full max-w-md" %>
      </label>

      <div class="grid">
        <%= form.button t(".Editar"), class: "btn btn-success text-lg max-w-md" %>
      </div>
    </fieldset>
  <% end %>-->
  <% if current_user.provider.empty? %>
    <%= form_with model: current_user, url: profile_password_path do |form| %>
      <fieldset class="grid gap-4">
        <h2 class="text-2xl font-bold"><%=t ".Mudar Senha" %></h2>
        <% if form.object.errors.any? %>
          <ul>
            <% form.object.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <label class="form-control w-full max-w-md">
          <div class="label">
            <span class="label-text">Senha Atual</span>
          </div>
          <%= form.password_field :password_challenge, required: true, class: "input input-bordered w-full max-w-md" %>
        </label>
        <label class="form-control w-full max-w-md">
          <div class="label">
            <span class="label-text">Nova Senha</span>
          </div>
          <%= form.password_field :password, required: true, class: "input input-bordered w-full max-w-md" %>
        </label>
        <label class="form-control w-full max-w-md">
          <div class="label">
            <span class="label-text">Confirmação da Senha</span>
          </div>
          <%= form.password_field :password_confirmation, required: true, class: "input input-bordered w-full max-w-md" %>
        </label>
        <div class="grid">
          <%= form.button t(".Editar"), class: "btn btn-success text-lg max-w-md" %>
        </div>
      </fieldset>
    <% end %>
  <% end %>
  <div class="grid">
    <%= link_to 'Sair', logout_path, data: { "turbo-method": :delete }, class: "btn btn-error text-lg max-w-md" %>
  </div>
  <!--<%= form_with url: profile_path, method: :delete do |form| %>
    <fieldset>
      <legend><%=t ".delete_account" %></legend>
      <%= form.button t(".delete_account"), data: { turbo_confirm: t(".confirm") } %>
    </fieldset>
  <% end %>-->
</div>