<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Controla Fácil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <%= favicon_link_tag 'favicon.png' %>
    <meta property="og:title" content="Controla Fácil" />
    <meta name="description" content="Controle sua vida financeira, fácilmente com esse app minimalista  de controle financeiro feito pela Stark Software Desenvolvimento de sistemas">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://controlafacil.starksoftware.tech" />
    <meta property="og:image" content="https://controlafacil.starksoftware.tech/logo.png" />
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller="theme-switcher" data-theme="<%= user_theme %>">
    <%= render 'shared/navbar' %>
    <%= turbo_frame_tag :modal %>
    <main class="container mx-auto p-5 min-h-screen pt-28">
      <%= yield %>
      <%= render partial: 'shared/toast', locals: { message: flash[:notice], style: flash[:style] } %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
